/* 메인 컨텐츠 영역 스타일 */
.main-content {
    background-color: $quaternary-color;
    color: black;
    margin-left: 250px; /* 사이드바의 너비만큼 메인 컨텐츠 영역을 오른쪽으로 밀어줍니다 */
    margin-right: 250px;
}

/* 전체 body의 배경색을 설정합니다 */
body {
    background-color: $quaternary-color;
    margin: 0; /* body의 외부 여백을 제거합니다 */
    padding: 0; /* body의 내부 여백을 제거합니다 */
}