/* 전체 body와 모든 요소의 외부 여백과 내부 여백을 제거합니다 */
body, header, .sidebar, .main-content, footer{
    margin: 0;
    padding: 0;
}

/* 링크 색상 설정 */
a {
    color: $font-color; /* 링크의 색상을 파란색으로 설정합니다 */
}
  
a:visited {
    color: $icon-color; /* 방문한 링크의 색상을 보라색으로 설정합니다 */
}