/* 전체 body와 모든 요소의 외부 여백과 내부 여백을 제거합니다 */
body, header, .sidebar, .main-content, footer{
    margin: 0;
    padding: 0;
}

/* 링크 색상 설정 */
a {
    color: $font-color;
    text-decoration: none;
}
  
a:visited {
    color: $font-color;
    text-decoration: none;
}