$primary-color: #1F1F1F !default;
$secondary-color: #181818 !default;
$line-color: #2A2A2A !default;
$font-color: #CCCCCC !default;
$icon-color: #8C8C8C !default;
$btn-color: #0078D4 !default;

$font-size-title: 2.5rem;
$font-size-tag: 1rem;
$font-size-date: 0.9rem;

$font-size-h1: 2rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.3rem;
$font-size-h4: 1.1rem;
$font-size-general: 1.0rem;