<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</head>
<body>
    {% include header.html %}

    <div class="main-content">
        <!-- 메인 페이지의 컨텐츠를 표시하는 곳입니다 -->
        {{ content }}
    </div>

    {% include footer.html %}

    <footer>
    </footer>
</body>
</html>
