---
layout: default
---

<div class="main-content">
    <div class="list-basic">
        <div class="list-title">Latest Posts</div>

        <div class="list-featured">
            {% for post in site.posts limit:12 %}
            <a href="{{ post.url }}" id="list-single" class="post-link"
                style="background: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url({{ post.teaser | relative_url}}); background-position:center; background-size: cover">
                    <div class="list-element-text">
                        <div class="list-element-category">{{ post.categories | join: ' / ' }}</div>
                        <div class="list-element-title">{{ post.title }}</div>
                        <div class="list-element-date">{{ post.date | date: "%Y. %m. %d" }}</div>
                        <div class="list-element-excerpt">{{ post.description | default: "" }}</div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>