---
layout: default
---

<div class="main-content">
    <div class="post-teaser">
        <div class="image" style="background-image: url('{{ page.teaser }}');"></div>
    </div>

    <div class="post-title-layout">
        <!-- tag -->
        <div class="post-tag">
            {% for tag in page.tags %}
                <div class="tag">{{ tag }}</div>
            {% endfor %}
        </div>

        <!-- title -->
        <div class="post-title">
            {{ page.title }}
        </div>

        <!-- date -->
        <div class="post-date">
            {{ page.date | date: "%Y. %m. %d" }}
        </div>

    </div>

    <div class="post-content-layout">
        <div class="post-content">
            {{ content }}
        </div>
    </div>
</div>